#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ivu-layout {
  min-height: 100vh;
}

.ivu-drawer-body {
  padding: 0px;
}

.ivu-notice {
  width: 300px;
  margin-right: 10px;
}
.ivu-slider-button-wrap {
  top: -5px;
}

.layout-header-bar {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}

.menu-icon {
  transition: all .3s;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.menu-item span {
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}

.menu-item i {
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}

.collapsed-menu span {
  width: 0px;
  transition: width .2s ease;
}

.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}

.input-time {
  border-radius: 3px;
  border: 1px solid #dcdee2;
  padding: 5px;
  width: 100%;
}
