<template>
  <div>
    <h1>Welcome</h1>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Home',

  data() {
    return {
      privateKey: null,
      password: null,
      mnemonic: null,
    }
  },

  computed: {
    ...mapGetters(['account'])
  },

  methods: {
    ...mapActions(['createWallet', 'loadWallet']),
    loadWallet1() {
      if (this.privateKey) {
        this.loadWallet({
          privateKey: this.privateKey
        })
      }
    },
    loadWallet2() {
      if (this.account && this.account.jsonWallet && this.password) {
        this.loadWallet({
          jsonWallet: this.account.jsonWallet,
          password: this.password
        })
      }
    },
    loadWallet3() {
      if (this.mnemonic) {
        this.loadWallet({
          mnemonic: this.mnemonic
        })
      }
    },
  }
}
</script>

<style>
</style>
