<template>
  <div>
    <Card style="width: 100%; margin-bottom: 20px" shadow>
      <p slot="title">
        <Icon type="ios-create" />
        ETH Sign Message
      </p>
      <div class="">
        <Row>
          <Input v-model="message" placeholder="Type a message..." />
        </Row>
        <Row>
          <Col span="12">
            <Button type="primary" @click="sign">Sign</Button>
          </Col>
          <Col span="12">
            <Button type="success" @click="verify">Verify</Button>
          </Col>
        </Row>
        <br/>
        <Row v-if="signature">
          <Input v-model="signature" type="textarea" :autosize="{minRows: 2,maxRows: 5}" />
        </Row>
      </div>
    </Card>

    <Card style="width: 100%" shadow>
      <p slot="title">
        <Icon type="ios-create" />
        GUN Sign Message
      </p>
      <div class="">
        <Row>
          <Input v-model="gunmessage" placeholder="Type a message..." />
        </Row>
        <Row>
          <Col span="12">
            <Button type="primary" @click="sign">Sign</Button>
          </Col>
          <Col span="12">
            <Button type="success" @click="verify">Verify</Button>
          </Col>
        </Row>
        <br/>
        <Row v-if="gunsignature">
          <Input v-model="gunsignature" type="textarea" :autosize="{minRows: 2,maxRows: 5}" />
        </Row>
      </div>
    </Card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
var EC = require('elliptic').ec;
const openpgp = require('openpgp')

export default {
  name: 'Home',

  data() {
    return {
      message: null,
      signature: null,
      gunmessage: null,
      gunsignature: null,
    }
  },

  computed: {
    ...mapGetters(['account']),
  },

  methods: {
    ...mapActions(['signData', 'verifyDataSigner']),
    async sign() {
      if (!this.message) return
      this.signature = await this.signData(this.message)
    },
    async verify() {
      if (!this.signature) return
      const bool = await this.verifyDataSigner({
        address: this.account.address,
        signature: this.signature,
        data: this.message
      })
      console.log('bool', bool)
    },
    async test() {
      console.log('this.account', this.account)
      const acct = this.account
      if (!acct) {
        alert('create account!')
        return;
      }
      // const f = await this.$SEA.keyid(acct.address)
      // console.log('this.$SEA', f)
      // const tmpAlice = {
      //   pub: 'jXSjlvJQlJilv6fa8nfpEduzO2-6PuxcL7u7hDW9lHo.QNAXpn-rxmDE_G7U67XbKI3fzTtkAFhx4Qdiqst7pCU',
      //   priv: 'MBqMx28eKqnocHFjSin-PW2WMNopGNf2khSu-nGLKtM',
      //   epub: 'y5vLGfSlaV5OXoTrLdt_PdxQ5ojpvcyccrC7uS_XmoI.oEhdSWdmlyeopd0FSsT7HQZDAC3qkp1PpSUZoLO82RM',
      //   epriv: '3t8AApYppMyQ1yzPCe9AWW1zMJmRqPqdbVbAI4Q-0p0'
      // }
      // const tmpBob = {
      //   pub: acct.address,
      //   priv: acct.privateKey,
      //   epub: acct.address,
      //   epriv: acct.publicKey
      // }
      // console.log('here', tmpBob)
      // var alice = await this.$SEA.pair()
      // console.log('alice', JSON.stringify(alice))
      // var bob = await this.$SEA.pair()
      // console.log('bob', JSON.stringify(bob))
      // var enc = await this.$SEA.encrypt('shared data', await this.$SEA.secret(bob.epub, alice))
      // console.log('enc', enc)
      // const fin = await this.$SEA.decrypt(enc, await this.$SEA.secret(alice.epub, bob))
      // console.log('fin', fin)

      // // Derive shared secret from other's pub and my epub/epriv
      // var enc = await this.$SEA.encrypt('shared ethers data', await this.$SEA.secret(tmpBob.epub, tmpAlice))
      // console.log('enc', enc)
      // const fin = await this.$SEA.decrypt(enc, await this.$SEA.secret(tmpAlice.epub, tmpBob))
      // console.log('fin', fin)
      console.log('this.$SEA.Buffer', this.$SEA.Buffer('DUMB'))

      this.signature = await this.signData(this.message)

      // Derive shared secret from other's pub and my epub/epriv
      var enc = await this.$SEA.encrypt('shared ethers data that is private to only people with signature', this.$SEA.Buffer(this.signature))
      console.log('enc', enc)
      const fin = await this.$SEA.decrypt(enc, this.$SEA.Buffer(this.signature))
      console.log('fin', fin)
    },
    testN() {
      var ec = new EC('curve25519');

      // Generate keys
      var key1 = ec.genKeyPair();
      var key2 = ec.genKeyPair();
      console.log('key1', key1)
      console.log('key2', key2)

      var shared1 = key1.derive(key2.getPublic());
      var shared2 = key2.derive(key1.getPublic());
      console.log('shared1', shared1)
      console.log('shared2', shared2)

      console.log('Both shared secrets are BN instances');
      console.log(shared1.toString(16));
      console.log(shared2.toString(16));
      // var A = ec.genKeyPair();
      // var B = ec.genKeyPair();
      // var C = ec.genKeyPair();
      //
      // var AB = A.getPublic().mul(B.getPrivate())
      // var BC = B.getPublic().mul(C.getPrivate())
      // var CA = C.getPublic().mul(A.getPrivate())
      //
      // var ABC = AB.mul(C.getPrivate())
      // var BCA = BC.mul(A.getPrivate())
      // var CAB = CA.mul(B.getPrivate())
      //
      // console.log(ABC.getX().toString(16))
      // console.log(BCA.getX().toString(16))
      // console.log(CAB.getX().toString(16))
    },
    testPgp() {
      console.log('this.account', this.account)
      const acct = this.account
      if (!acct) {
        alert('create account!')
        return;
      }
      // (async () => {
      //     const { privateKeyArmored, publicKeyArmored, revocationCertificate } = await openpgp.generateKey({
      //         userIds: [{ name: acct.address, email: `${acct.address}@liame.app` }], // you can pass multiple user IDs
      //         curve: 'ed25519',                                           // ECC curve name
      //         passphrase: acct.privateKey
      //     });
      //
      //     console.log('privateKeyArmored', privateKeyArmored);     // '-----BEGIN PGP PRIVATE KEY BLOCK ... '
      //     console.log('publicKeyArmored', publicKeyArmored);      // '-----BEGIN PGP PUBLIC KEY BLOCK ... '
      //     console.log('revocationCertificate', revocationCertificate); // '-----BEGIN PGP PUBLIC KEY BLOCK ... '
      // })();

      (async () => {
        // NOTE: this takes a while, with 4096
        const key = await openpgp.generateKey({
            userIds: [{ name: acct.address, email: `${acct.address}@liame.app` }], // you can pass multiple user IDs
            // rsaBits: 4096,                                              // RSA key size
            rsaBits: 2048,                                              // RSA key size
            passphrase: acct.privateKey           // protects the private key
        });
        console.log(key.privateKeyArmored)
      })();
    },
  },

  mounted() {
    setTimeout(() => {
      this.testPgp()
    }, 1000)
  },
}
</script>

<style>
</style>
