<template>
  <div class="settings">

    <Card style="width: 100%" shadow>
      <p slot="title">
        <Icon type="md-cash" />
        My Wallet
      </p>
      <a href="#" slot="extra" @click.prevent="alert('TODO:')">
        <Icon type="ios-alert-outline" />
        Backup
      </a>
      <div class="">
        <h4>Accounts</h4>

        <List>
          <ListItem>
            <ListItemMeta avatar="https://cdn.amberdata.io/images/blockchains/1c9c969065fcd1cf.png" title="Ethereum" description="3 accounts" />
            <template slot="action">
              <li>
                <Button @click="showEthereumConfig = true" type="info" shape="circle" ghost>Configure</Button>
              </li>
            </template>
          </ListItem>
          <ListItem>
            <ListItemMeta avatar="https://cdn.amberdata.io/images/blockchains/408fa195a34b533de9ad9889f076045e.png" title="Bitcoin" description="No accounts" />
            <template slot="action">
              <li>
                <Button @click="showBitcoinConfig = true" shape="circle">Create</Button>
              </li>
            </template>
          </ListItem>
          <ListItem>
            <ListItemMeta avatar="https://cdn.amberdata.io/images/blockchains/8ccb0eb9e72f449e0ed46c2acbc25ea0.png" title="Quorum" description="No accounts" />
            <template slot="action">
              <li>
                <Button @click="showQuorumConfig = true" shape="circle">Create</Button>
              </li>
            </template>
          </ListItem>
        </List>
      </div>
    </Card>

    <br />

    <Card style="width: 100%" shadow>
      <div class="">
        <CellGroup>
          <Cell title="Notifications">
            <i-switch v-model="notifications" slot="extra" />
          </Cell>
          <Cell title="Switch Network" to="#">
            <Tag color="default" slot="extra">Main</Tag>
          </Cell>
          <Cell title="Currency" to="#">
            <Tag color="default" slot="extra">USD</Tag>
          </Cell>
        </CellGroup>
      </div>
    </Card>

    <br />

    <Card style="width: 100%" shadow>
      <p slot="title">
        <Icon type="ios-information-circle-outline" />
        About
      </p>
      <p class="">
        <strong>BAD Wallet</strong><br />
        <small>Version: 0.0.1</small><br />
        <br />
        Built with 🖖🏼by: Trevor Clarke
      </p>
    </Card>


    <Drawer title="Ethereum Configuration" width="90vw" v-model="showEthereumConfig">
      <Button @click.prevent="createWallet">Create Wallet</Button>

      <h3>Account:</h3>
      <p v-if="account">{{ account.address }}</p>

      <Row>
        <Col span="12">
        <Input type="password" v-model="privateKey" />
        </Col>
        <Col span="12">
        <Button @click.prevent="loadWallet1">Load privateKey</Button>
        </Col>
      </Row>

      <Row>
        <Col span="12">
        <Input type="password" v-model="password" />
        </Col>
        <Col span="12">
        <Button @click.prevent="loadWallet2">Load jsonWallet</Button>
        </Col>
      </Row>

      <Row>
        <Col span="12">
        <Input type="password" v-model="mnemonic" />
        </Col>
        <Col span="12">
        <Button @click.prevent="loadWallet3">Load Mnemonic</Button>
        </Col>
      </Row>
    </Drawer>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Settings',

  data() {
    return {
      privateKey: null,
      password: null,
      mnemonic: null,

      notifications: true,
      showEthereumConfig: false,
    }
  },

  computed: {
    ...mapGetters(['account'])
  },

  methods: {
    ...mapActions(['createWallet', 'loadWallet']),
    loadWallet1() {
      if (this.privateKey) {
        this.loadWallet({
          privateKey: this.privateKey
        })
      }
    },
    loadWallet2() {
      if (this.account && this.account.jsonWallet && this.password) {
        this.loadWallet({
          jsonWallet: this.account.jsonWallet,
          password: this.password
        })
      }
    },
    loadWallet3() {
      if (this.mnemonic) {
        this.loadWallet({
          mnemonic: this.mnemonic
        })
      }
    },
  }
}
</script>

<style>
</style>
