<template>
  <div class="faucet">
    <h4>
      <span>Move To Height</span>
    </h4>
    <Row>
      <Col span="18" style="padding-right:10px">
        <Select v-model="activePosition" style="width:200px">
          <Option v-for="item in positionOptions" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
      </Col>
      <Col span="6" style="padding-right:10px">
        <Button type="info" @click.prevent="moveHeight(activePosition)">Go!</Button>
      </Col>
    </Row>

    <Divider dashed />

    <h2>
      <span>Fluid Controls</span>
    </h2>

    <template>
      <div class="faucet-motors">
        <div class="faucet-motor" v-for="motor in faucetMotors">
          <FaucetMotor
            :data="motor"
            :serial="faucet.serialPortId"
            :id="faucet.verticalMotorId"
          />
        </div>
      </div>
    </template>

    <Divider dashed />

    <h2>
      <span>Configuration</span>
    </h2>

    <Row>
      <h5>Jog 10mm</h5>
      <Col span="14" style="padding-right:10px">
        <Input v-model="jogAmount" />
      </Col>
      <Col span="10" style="padding-right:10px">
        <Button @click.prevent="jogHeight(-1)">
          <Icon type="md-arrow-round-down" />
        </Button>
        <Button @click.prevent="jogHeight(1)">
          <Icon type="md-arrow-round-up" />
        </Button>
      </Col>
    </Row>

    <Divider dashed />

    <Row>
      <h5>Set Max Height</h5>
      <Col span="12" style="padding-right:10px">
        <Input v-model="maxHeight" />
      </Col>
      <Col span="12" style="padding-right:10px">
        <Button type="success" @click.prevent="setMaxHeight()">Set</Button>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <Button type="info" @click.prevent="execCmd('SET_Motor_Zero', [0])">
          Set Zero
        </Button>
      </Col>
    </Row>

    <Divider dashed />

    <h4>
      <span>System Controls</span>
    </h4>
    <Row class="footer-actions">
      <Button type="error" @click.prevent="execCmd('E_REBOOT_TEENSY')">Reboot Teensy</Button>
    </Row>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { GetFaucet, UpdateFaucet, FaucetUpdated } from '../gql/faucet'
import { GpioSerialCmd } from '../gql/serial'
import FaucetMotor from '@/components/FaucetMotor.vue'

const positionOptions = [
  { id: '0', name: 'Zero', args: [0] },
  { id: '1', name: '4oz', args: [160] },
  { id: '2', name: '12oz', args: [240] },
  { id: '3', name: '16oz', args: [350] },
  { id: '4', name: 'Top', args: [370] },
]

export default {
  name: 'Faucet',
  props: ['data'],

  data() {
    return {
      activePosition: positionOptions[0].id,
      positionOptions,
      currentHeight: 0,
      maxHeight: 370,
      jogAmount: 10,
    }
  },

  components: {
    FaucetMotor,
  },

  apollo: {
    faucet: {
      query: gql`${GetFaucet}`,
      variables () {
        return {
          id: `${this.data.id}`
        }
      },
      result ({ data }) {
        if (!data || !data.faucet) return {}
        return data.faucet
      },
    },
    // $subscribe: {
    //   faucetUpdated: {
    //     query: gql`${FaucetUpdated}`,
    //     variables () {
    //       return {
    //         id: `${this.data.id}`
    //       }
    //     },
    //     result ({ data }) {
    //       console.log('faucetUpdated', data.faucetUpdated)
    //     },
    //   },
    // },
  },

  computed: {
    faucetMotors() {
      if (!this.faucet || !this.faucet.motors) return []
      // filter out the vertical drive motor
      return this.faucet.motors.filter(m => m.motorId !== this.faucet.verticalMotorId)
    },
  },

  methods: {
    execGpio(variables) {
      console.log('execGpio variables', variables)
      this.$apollo.mutate({
        mutation: gql`${GpioSerialCmd}`,
        variables
      })
    },
    execCmd(cmd, args) {
      args.unshift(this.faucet.serialPortId)
      const argStr = JSON.stringify(args)
      this.execGpio({
        event: cmd,
        args: argStr,
      })
    },
    moveHeight(id, evt) {
      const item = this.positionOptions[parseInt(id, 10)]
      const a = [].concat(item.args)
      a.unshift(this.faucet.verticalMotorId)
      this.execCmd(evt || 'Go_To_Abs_Pos', a)
    },
    jogHeight(dir) {
      // NOTE: Code for ABS changes
      // const jogAmt = (dir * 10) + this.currentHeight
      //
      // // Keep internal state for height, then use ABS to go up & down
      // this.execCmd('Go_To_Abs_Pos', [0,jogAmt])
      // this.currentHeight = jogAmt
      const jogAmt = dir * 1000 * parseInt(this.jogAmount, 10)
      this.execCmd('Go_To_Rel_Pos', [0,jogAmt])
    },
    setMaxHeight() {
      this.execCmd('SET_Max_Vertical', [0,parseInt(this.maxHeight, 10)])
    },
  },
}
</script>

<style lang="scss">
.faucet {
  h4,
  h5 {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    margin: 10px 0 5px;
  }

  h5 {
    margin: 2px 0;
  }
}

.faucet-motor {
  margin: 10px -17px;
  padding: 0 17px;

  &:nth-child(odd) {
    background: #f7f7f7;
  }
}

.footer-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-actions:before,
.footer-actions:after {
  content: initial;
}
</style>
