<template>
  <div id="app">
    <Drawer title="Bad Wallet" placement="left" v-model="isCollapsed">
      <Menu :active-name="activePage" v-on:on-select="collapsedSider" width="auto">
        <MenuItem name="1-1" :to="{ name: 'Home' }">
          <Icon type="ios-analytics" />
          <span>Home</span>
        </MenuItem>
        <MenuItem name="1-5" :to="{ name: 'Messages' }">
          <Icon type="md-chatbubbles" />
          <span>Messages</span>
        </MenuItem>
        <MenuItem name="1-10" :to="{ name: 'Settings' }">
          <Icon type="md-cog" />
          <span>Settings</span>
        </MenuItem>
      </Menu>
    </Drawer>

    <Layout>
      <Header :style="{padding: 0}" class="layout-header-bar">
        <Icon @click.native="collapsedSider" :style="{margin: 'auto 20px'}" type="md-menu" size="24" />
        <h3>{{ $route.name }}</h3>
        <Button @click="showProfile = true" shape="circle" class="btn-profile">
          <Icon type="md-person" />
        </Button>
      </Header>

      <Content :style="{margin: '85px 20px 20px', minHeight: '260px'}">
        <router-view />
      </Content>
    </Layout>

    <Drawer title="Profile" width="90vw" v-model="showProfile">
      <h3>Coming soon :)</h3>
    </Drawer>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'App',

  data() {
    return {
      isCollapsed: false,
      showProfile: false,
      activePage: '1-1',
    }
  },

  methods: {
    ...mapActions(['loadWalletFromCache']),
    collapsedSider() {
      this.isCollapsed = !this.isCollapsed;
    }
  },

  mounted() {
    // Set the current selected menu link based on current route
    const name = this.$route.name
    switch (name) {
      case 'Messages':
        this.activePage = '1-5'
        break;
      case 'Settings':
        this.activePage = '1-10'
        break;
      default:
        this.activePage = '1-1'
    }

    this.loadWalletFromCache()
  }
}
</script>

<style>
/* Make global style changes in theme/index.css*/
.btn-profile.ivu-btn {
  background: #f2f2f2;
  border: 0;
  font-size: 24px;
  line-height: 14px;
  margin: auto 20px auto auto;
  padding: 3px 5px;
}
</style>
